<html>
  <body>
    <table>
      <thead>
        <tr>
          <th>번호</th><th>제목</th><th>글쓴이</th><th>조회</th>
        </tr>
      </thead>
      <tbody>
        {% for board in list %}
        <tr>
          <td>{{board.bno }}</td>
          <td>
            <a href="/read?bno={{board.bno}}">{{board.title }}</a>
          </td>
          <td>{{board.nickname }}</td>
          <td>{{board.readcnt }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/write">글쓰기로</a>
  </body>
</html>